/etc/i5.las2peer.services.IMService.IMServiceClass.properties
/output
/export
/node-storage
/tmp
/log
/lib
/ivy/ivy.jar
/service
/out
/.idea
UGNM_Instantmessaging/restMapping.xml
UGNM_Instantmessaging/output
UGNM_Instantmessaging/export
UGNM_Instantmessaging/node-storage
UGNM_Instantmessaging/tmp
UGNM_Instantmessaging/log
UGNM_Instantmessaging/lib
UGNM_Instantmessaging/ivy/ivy.jar
UGNM_Instantmessaging/service
UGNM_Instantmessaging/out
UGNM_Instantmessaging/service/i5.las2peer.services.IMService-0.1.jar