#pr_img img {
	width: 100%;
}

.inline {
	float:left;
	padding-right: 5px;
}

.title {
	font-size: 18px;
	font-weight: 900;
	padding-bottom: 5px;
	margin-bottom: 5px;
	width: 100%;
	border-bottom: 1px solid black;
}

#friendslist h3.inline {
	margin: 0;
}

#chatWindow {
	max-height: 460px;
	overflow-y: auto;
}

ul#chatMessages {
	list-style-type:none;
}

ul#contactList {
	list-style-type:none;
}

ul#contactList li{
	margin-bottom: 10px;
}