y {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 400;
}

#pr_img img,#otherProfileImage img {
	max-width: 200px;
}

.inline {
	float:left;
	padding-right: 5px;
}

.title {
	font-size: 18px;
	font-weight: 900;
	padding: 5px 10px;
	margin-bottom: 5px;
	width: 100%;
	border: 2px solid #f60;
}

#friendslist h3.inline {
	margin: 0;
}

#chatWindow {
	max-height: 460px;
	overflow-y: auto;
}

ul#chatMessages {
	list-style-type:none;
}

ul#contactList {
	list-style-type:none;
}


#userList {
	list-style-type:none;
}

ul#contactList li{
	margin-bottom: 10px;
}

#emoteBox {
	border: 2px solid #f60;
	padding: 7px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.navbar-default {
	background: #333;
	border-color: #444;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	transition: all .7s ease-in-out;
}

.navbar-default .navbar-nav>li>a:hover {
	transition: all .7s ease-in-out;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:visited {
	transition: all .7s ease-in-out;
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus {
	transition: all .7s ease-in-out;
	color: #fff;
}

button

body {
	background: #f2f0ee;
	font-size: 16px;
}

.btn-default {
	color: #fff;
	background-color: #3D5876;
	border: 0 solid black;
	margin-right: -1px;
}

.btn-sm {
	font-size: 15px;
}

#userList li a {
	font-size: 22px;
	margin-bottom: 20px;
}

#otherProfileModal #otherProfileUserName {
	font-size: 24px;
	font-weight: 600;
}

.modal-header {
	background: #3D5876;
	color: #fff;
	border-bottom: 1px solid #e5e5e5;
}

.btn-warning {
	font-size: 18px;
}

#chatWindow {
	font-size: 18px;
}

.chatname {
	color: #3D5876;
	font-weight: 600;
	letter-spacing: 0px;
}

#chatMessageInput {
	font-size: 16px;
	height: 38px;
	margin-bottom: 10px;
}

.timestamp {
	font-size: 12px;
}

.dropdown-menu {
	position: static;
	margin-bottom: 5px;
}

.avatar {
	height: 50px;
	margin: 2px 5px 2px;
	border: 1px solid #f60;
}

#sendMessageButton {
	position:relative;
	right: 52px;
	z-index: 20;
}

#otherProfileImage {
	display: block;
}	

.btn-soon {
	color: white;
	background: grey;
}

p {
	font-size: 18px;
}

ol {
	font-size: 22px;
}

.intro_list {
    list-style-type: decimal;
	text-align: center;
}

ol.intro_list li{
    float: left;
    width: 33.33%;
    padding: 2px 0px;
	min-height: 380px;
	position: relative;
	margin-bottom: 20px;
}

ol.intro_list img{
	max-width: 200px;
	width: 90%;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left:0;
	right:0;
}

ol.intro_list p {
	width: 90%;
	position: absolute;
	margin-bottom: 20px;
	top: 0;
}

.logo {
	margin: 2px;
	padding: 5px 5px 10px;
	width: 75px;
	background: white;
	border: 3px solid #f60;
}

.navbar-brand {
	padding:0;
}

#intro {
	margin-top: 20px;
}

@media (max-width: 780px) { 
	p {
		font-size: 14px;
	}
	
	ol.intro_list img{
		max-width: 120px;
	}
	
	ol.intro_list li{
		float: left;
		width: 39.33%;
		padding: 2px 0px;
		min-height: 290px;
		position: relative;
		margin-bottom: 20px;
		margin-right: 4%;
	}
	
	.logo {
		max-width: 50px;
	}
}


@media (max-width: 768px) { 
	.avatar{
		margin-top: 40px;
	}
}